# PlatformIO stuff
.pio
.pioenvs
.piolibdeps

# VSCode stuff
.vscode

# Disassembly output
disassembly.txt

# These are currently empty, so we don't need them.
include/
lib/
test/

# SSL/TLS certs
certs/
*.der
*.fp
*.pem
*.fpn
*.crt

# Mac stuff
.DS_Store